<div class="app-products-div">
  <mat-spinner *ngIf="productsDto.length === 0"></mat-spinner>

  <mat-card *ngFor="let product of productsDto" class="e-product-card">
    <mat-card-header>
      <mat-card-title>{{product.nombre}}</mat-card-title>
      <mat-card-subtitle>Precio: $500 / Stock: {{product.stock}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p *ngIf="product.descripcion">
        {{product.descripcion}}
      </p>
      <p *ngIf="!product.descripcion">
        {{"Descripción de prueba"}}
      </p>
      <img src="../../assets/img_producto.png" class="e-product-img" />
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button [disabled]="this.product.stock == 0" color="green" (click)="openDialog(this.product)">Agregar al carrito</button>
    </mat-card-actions>
  </mat-card>
</div>
