.e-product-card {
  max-width: 22%;
  max-height: 5%;
}

img.e-product-img {
  height: 80%;
  width: 90%;
  display: flex;
  justify-content: center;
  border-radius: 4%;
}
.e-product-card:hover {
  -webkit-transform: scale(0.9);
  transform: scale(1.1);
}

div.app-products-div {
  padding: 13px;
  margin-top: 5%;
}

.app-products-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

mat-card {
  margin: 0 auto;
  margin-bottom: 5%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

@media (max-width: 50%) {
  .e-product-card {
    margin-top: 11px;
    width: 50%;
  }
  img.e-product-img {
    margin: 0 auto;
    height: 50%;
    width: 100%;
  }
}

.mat-green {
  background-color: rgb(8, 9, 7);
  color: #fff;
}

button:disabled,
button[disabled] {
  background-color: #cccccc;
  color: #666666;
}

.mat-mdc-card-actions,
.mdc-card__actions {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}
.mat-mdc-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
