/* .e-product-card {
  width: 22%;
  height: 5%;
  display: flex;
}
.header-mat {
  padding: 5%;
}
app-products-div {
  display: flex;
  flex-wrap: wrap;
}

img.e-product-img {
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 1%;
}
.e-product-card:hover {
  -webkit-transform: scale(0.9);
  transform: scale(1.1);
}
.card-title {
  color: #666666;
}
div.app-products-div {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5%;
}

mat-card {
  margin: 0 auto;
  margin-bottom: 5%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

@media (max-width: 10%) {
  app-products-div {
    display: flex;
    flex-wrap: wrap;
  }

  .e-product-card {
    margin-top: 11px;
    width: 50%;
  }
  img.e-product-img {
    margin: 0 auto;
    height: 50%;
    width: 100%;
  }
}

.mat-green {
  background-color: rgb(8, 9, 7);
  color: #fff;
}

button:disabled,
button[disabled] {
  background-color: #cccccc;
  color: #666666;
}

button:hover {
  color: #ffc72c;
}

.mat-mdc-card-actions,
.mdc-card__actions {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  flex-wrap: wrap;
}
.mat-mdc-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}

.mat-mdc-progress-spinner {
  --mdc-circular-progress-active-indicator-color: #ffc72c;
} */

/* rojo mc donal #DA291C */
.spinner {
  margin: 0 auto;
  margin-top: 14%;
}
.mat-mdc-progress-spinner {
  --mdc-circular-progress-active-indicator-color: #ffc72c;
}
.mat-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2%;
}
.descripcion {
  /* margin-left: 40%; */
  color: #8c8c8c;
  max-width: 300px;
}
.stock {
}
.mat-card-item {
  max-width: 380px;
  margin-bottom: 20px;
  border-radius: 20px;
  background-color: #f8f8f8;
}
.mat-card-item:hover {
  -webkit-transform: scale(0.9);
  transform: scale(1.05);
}
.content {
  display: flex;
  align-items: flex-end;
}
.button {
  background-color: black;
  color: antiquewhite;
  margin-left: 25%;
}
.button:hover {
  color: #ffc72c;
}
button:disabled,
button[disabled] {
  background-color: #cccccc;
  color: #666666;
}
@media screen and (max-width: 767px) {
  .mat-card-container {
    justify-content: center;
  }
  /* .mat-card-item {
    width: calc(33.33% - 10px);
  } */
}
@media screen and (min-width: 768px) {
  .mat-card-item {
    width: calc(50% - 10px);
  }
}

@media screen and (min-width: 1024px) {
  .mat-card-item {
    width: calc(33.33% - 10px);
  }
}
