<!-- <div class="app-products-div">
  <mat-spinner
    *ngIf="productsDto.length === 0"
    style="margin: 0 auto"
  ></mat-spinner>

  <mat-card *ngFor="let product of productsDto" class="e-product-card">
    <img src="../../assets/hambu-tfc2.jpg" class="e-product-img" />
    <mat-card-header class="header-mat">
      <mat-card-title class="card-title">{{ product.nombre }}</mat-card-title>
      <mat-card-subtitle
        >Precio: $500 / Stock: {{ product.stock }}</mat-card-subtitle
      >
    </mat-card-header>

    <mat-card-actions>
      <button
        mat-flat-button
        [disabled]="this.product.stock == 0"
        color="green"
        (click)="openDialog(this.product)"
      >
        Agregar al carrito
      </button>
    </mat-card-actions>
  </mat-card>
</div> -->

<div class="mat-card-container">
  <mat-spinner class="spinner" *ngIf="productsDto.length === 0"></mat-spinner>
  <mat-card class="mat-card-item" *ngFor="let product of productsDto">
    <img mat-card-image src="../../assets/hambu-tfc2.jpg" />
    <mat-card-header>
      <mat-card-title style="color: black">{{ product.nombre }}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="stock" style="color: black">
      <p class="stock">Stock :{{ product.stock }}</p>
    </mat-card-content>
    <div class="content">
      <mat-card-content class="descripcion" style="align-items: center">
        {{ product.descripcion }}
      </mat-card-content>
    </div>

    <mat-card-actions>
      <button
        class="button"
        mat-flat-button
        [disabled]="this.product.stock == 0"
        (click)="openDialog(this.product)"
      >
        Agregar al carrito
      </button>
    </mat-card-actions>
  </mat-card>
</div>
