<mat-toolbar class="main-app-toolbar">
  <div class="rancia" routerLink="/">
    <span class="material-icons">lunch_dining</span>
    <h2>T F C</h2>
  </div>
  <span class="example-spacer"></span>
  <button mat-button routerLink="/products">Productos</button>
  <button mat-button routerLink="/hambu-personal">Tu Hamburguesa</button>
  <button mat-button routerLink="/purchase-history">Historial</button>

  <button mat-button routerLink="/admin">
    Admin
    <mat-icon>settings</mat-icon>
  </button>
  <button mat-button routerLink="/purchase">
    <mat-icon>shopping_cart</mat-icon>
  </button>
</mat-toolbar>
