.example-spacer {
  flex: 1 1 auto;
}

.main-app-toolbar {
  background-color: rgb(7, 8, 6);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.244);
  color: #fafafa;
}

.rancia {
  margin-top: 0.5%;
  display: flex;
  justify-content: center;
  flex: 0.1;
}

.rancia:hover {
  color: #ffc72c;
  cursor: pointer;
}

.mat-toolbar,
.main-app-toolbar,
.mat-toolbar-single-row {
  max-height: 12%;
}

span {
  margin-top: 4.4%;
  margin-right: 10%;
}

button:hover {
  color: #ffc72c;
}

mat-toolbar {
  display: flex;
  flex-wrap: wrap;
}
