.table-container {
  margin: 1%;
  max-width: 30%;
  max-height: 25%;
}
.tablas {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

td,
mat-cell {
  border-bottom-style: none;
}

.total-container {
  display: flex;
  flex-direction: column;
  max-width: max-content;
  align-items: flex-end;
}

button {
  /* max-width: 20%; */
  /* margin-right: 3%; */
}

span {
  margin-top: 1%;
  margin-bottom: 5%;
}
.containerDelContainer {
  display: flex;
  justify-content: end;
  max-width: 100%;
  margin: 1%;
}
