<div class="formulario">
  <video
    controls
    autoplay
    [muted]="true"
    [loop]="true"
    class="video"
    src="https://static.videezy.com/system/resources/previews/000/043/256/original/bb4.mp4"
  ></video>
  <div class="formContainer" [formGroup]="formReg" (ngSubmit)="onRegister()">
    <div class="login">BIENVENIDOS !</div>
    <!-- <mat-form-field appearance="outline" class="email">
      <input
        matInput
        placeholder="Introduce tu email"
        type="text"
        class="form-control"
        formControlName="email"
      />
      <mat-error
        style="color: red"
        *ngIf="this.formReg.get('email')?.errors?.['email']"
      >
        El mail no es válido
      </mat-error>
    </mat-form-field> -->

    <!-- <mat-form-field appearance="outline" class="password">
      <input
        matInput
        placeholder="Introduce tu pasword"
        type="password"
        class="form-control"
        formControlName="password"
      />
      <mat-error
        style="color: red"
        *ngIf="this.formReg.get('password')?.errors?.['minlength']"
      >
        Debe tener como mínimo 6 caracteres
      </mat-error>
    </mat-form-field> -->
    <button mat-flat-button class="registerButton" (click)="onRegister()">
      Registrarse
    </button>
    <hr />
    <button mat-flat-button class="iniciarSesionButton" routerLink="/products">
      Iniciar Sesion
    </button>

    <button mat-button class="google-button" (click)="loginConGoogle()">
      <mat-icon style="width: 50px; height: 30px" svgIcon="logo"></mat-icon
      >Iniciar Sesion con Google
    </button>
    <!-- </div> -->

    <!-- <button
    disabled="true"
    style="background-color: rgb(248, 50, 50)"
    mat-button
    (click)="logOut()"
    class="logout-button"
  >
    <span class="material-icons">logout</span>
    Logout
  </button> -->
  </div>
</div>
