.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6%;
}

.formContainer {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  width: 15%;
  margin: 2%;
  padding: 1%;
}
.fs-Logo {
  width: 150px;
  height: 150px;
  fill: red;
}

.mat-icon {
  fill: red;
}

.google-button,
.logout-button {
  background-color: white;
  margin-left: 3%;
  margin: 2%;
  max-width: 20%;
  padding: 2%;
}

.registerButton {
  background-color: black;
  color: antiquewhite;
  margin-top: 10%;
}
.registerButton:hover {
  color: #ffc72c;
}
/*
input {
  padding: 5%;
  margin-bottom: 2%;
} */
