.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}

.formContainer {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  min-width: 15%;
  margin: 2%;
  padding: 1%;
}
@media screen and (min-width: 792px) {
  .formContainer {
    min-width: 25%;
  }
}

video {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  height: max-content;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  transition: 1s opacity;
}
/* .fs-Logo {
  min-width: 150px;
  min-height: 150px;
  fill: red;
} */

.mat-icon {
  fill: red;
}

.google-button,
.logout-button {
  position: fixed;
  background-color: white;
  margin-top: 5%;
  min-width: 15%;
  margin-left: 5%;
  /* height: 60px;
  margin-right: 55%;
  margin-left: 3%;
  margin: 2%;
  min-width: 15%;
  padding: 2%; */
}

.registerButton {
  background-color: black;
  color: antiquewhite;
  margin-top: 10%;
}
.registerButton:hover {
  color: #ffc72c;
}

.iniciarSesionButton {
  background-color: rgb(217, 217, 217);
  color: rgb(8, 8, 8);
  margin-top: 5%;
}
/*
input {
  padding: 5%;
  margin-bottom: 2%;
} */

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60px;
  margin-bottom: 15%;
  color: antiquewhite;
  background-color: rgb(58, 58, 58);
  /* color: #ffc72c;
  background-color: #da291c; */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 1000;
}
