<div class="formulario">
  <div class="formContainer" [formGroup]="formReg" (ngSubmit)="onRegister()">
    <div class="login">BIENVENIDOS !</div>
    <mat-form-field appearance="outline" class="email">
      <!-- <mat-label class="form-label">Email</mat-label> -->
      <input
        matInput
        placeholder="Introduce tu email"
        type="text"
        class="form-control"
        formControlName="email"
      />
      <mat-error
        style="color: red"
        *ngIf="this.formReg.get('email')?.errors?.['email']"
      >
        El mail no es válido
      </mat-error>
    </mat-form-field>
    <br />
    <mat-form-field appearance="outline" class="password">
      <!-- <mat-label class="form-label">Password</mat-label> -->
      <input
        matInput
        placeholder="Introduce tu pasword"
        type="password"
        class="form-control"
        formControlName="password"
      />
      <mat-error
        style="color: red"
        *ngIf="this.formReg.get('password')?.errors?.['minlength']"
      >
        Debe tener como mínimo 6 caracteres
      </mat-error>
    </mat-form-field>
    <button mat-flat-button class="registerButton" (click)="onRegister()">
      Registrarse
    </button>
    <button mat-flat-button class="iniciarSesionButton" routerLink="/products">
      Iniciar Sesion
    </button>
  </div>
  <button mat-button class="google-button" (click)="loginConGoogle()">
    <mat-icon style="width: 50px; height: 30px" svgIcon="logo"></mat-icon
    >Iniciar Sesion con Google
  </button>
  <!-- <button
    disabled="true"
    style="background-color: rgb(248, 50, 50)"
    mat-button
    (click)="logOut()"
    class="logout-button"
  >
    <span class="material-icons">logout</span>
    Logout
  </button> -->
</div>
