.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* p.texto {
  font-family: Lato;
} */

.fs-Logo {
  width: 150px;
  height: 150px;
  fill: red;
}

.mat-icon {
  fill: red;
}

.google-button,
.logout-button {
  background-color: white;
  margin: 1%;
  max-width: 10%;
  font-size: 45%;
}

.registerButton {
  background-color: black;
  color: antiquewhite;
  font-size: 10px;
  margin: 25%;
}

input {
  padding: 5%;
  margin-bottom: 5%;
}
